<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/var.css">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/global.css">
  <title>Buquês</title>
</head>

<body>

  <header>
    <div class="container__header">

      <div class="btn-header__login"> Login </div>
      <div class="btn-header__cadastro"> Cadastro </div>

      <nav>
        <ul>
          <li><a href="#" class="header__menu">Início</a></li>
          <li><a href="#" class="header__menu">Buquês</a></li>
          <li><a href="#" class="header__menu">Cestas de Presente</a></li>
          <li><a href="#" class="header__menu">Arranjos</a></li>
          <li><a href="#" class="header__menu">Todos</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <main>

    <section class="banner__promocoes">
      <img src="/img/flor01.jpg" alt="Arranjo....">
    </section>

  <section class="produtos">

    <article class="produto__venda">
        <div class="produto__imagem">
          <img src="/img/flor01.jpg" alt="Arranjo....">
        </div>

        <div class="produto__descricao">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
        </div>

         <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

    <article class="produto__venda">
        <div class="produto__imagem">
          <img src="/img/flor01.jpg" alt="Arranjo....">
        </div>

        <div class="produto__descricao">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
        </div>

        <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

    <article class="produto__venda">
      <div class="produto__imagem">
        <img src="/img/flor01.jpg" alt="Arranjo....">
      </div>

      <div class="produto__descricao">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
      </div>

      <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

    <article class="produto__venda">
      <div class="produto__imagem">
        <img src="/img/flor01.jpg" alt="Arranjo....">
      </div>

      <div class="produto__descricao">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
      </div>

      <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

    <article class="produto__venda">
      <div class="produto__imagem">
        <img src="/img/flor01.jpg" alt="Arranjo....">
      </div>

      <div class="produto__descricao">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
      </div>

      <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

    <article class="produto__venda">
      <div class="produto__imagem">
        <img src="/img/flor01.jpg" alt="Arranjo....">
      </div>

      <div class="produto__descricao">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
      </div>

      <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

    <article class="produto__venda">
      <div class="produto__imagem">
        <img src="/img/flor01.jpg" alt="Arranjo....">
      </div>

      <div class="produto__descricao">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
      </div>

      <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

    <article class="produto__venda">
      <div class="produto__imagem">
        <img src="/img/flor01.jpg" alt="Arranjo....">
      </div>

      <div class="produto__descricao">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
      </div>

      <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

    <article class="produto__venda">
      <div class="produto__imagem">
        <img src="/img/flor01.jpg" alt="Arranjo....">
      </div>

      <div class="produto__descricao">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
      </div>

      <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

    <article class="produto__venda">
      <div class="produto__imagem">
        <img src="/img/flor01.jpg" alt="Arranjo....">
      </div>

      <div class="produto__descricao">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
      </div>

      <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

    <article class="produto__venda">
      <div class="produto__imagem">
        <img src="/img/flor01.jpg" alt="Arranjo....">
      </div>

      <div class="produto__descricao">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
      </div>

      <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

    <article class="produto__venda">
      <div class="produto__imagem">
        <img src="/img/flor01.jpg" alt="Arranjo....">
      </div>

      <div class="produto__descricao">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
      </div>

      <button>Ver mais...</button> <!-- add a xrc da rota p esse bnt enviar  -->

    </article>

  </section>

  </main>

  <footer class="footer__creditos">
    <p>&copy; 2025 Aura Floral.</p>
  </footer>

  <script src="/js/script.js"></script>
</body>
</html>