<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/var.css">
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/global.css">
    <title>Inicial-Flores</title>
    
    <link rel="stylesheet" href="/styles/global.css">

</head>
<body>
    <header>
        <div class="container__header">
    
          <!-- LOGIN E LOGOFF IF COM JINJA -->
          {% if session.nome %}
          <div class="login__header"><a href="/logoff">Logoff</a></div>
          <div class="nome__header"><a href="">{{session.nome}}</a></div>
          {% else %}
          <div class="login__header"><a href="/login">Login</a></div>
          <div class="nome__header"><a href="">ANONIMO</a></div>
          {% endif %}
    
          <nav>
            <ul class="menu__header">
              <li><a href="/" class="menu__header-opcoes">Sair</a></li>
            </ul>
          </nav>
    
        </div>
      </header>
</body>
</html>