<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link rel="stylesheet" href="/static/styles/var.css">
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/global-inicial.css">
    <link rel="stylesheet" href="/static/styles/global-carrinho.css">
</head>
<body>
    <header class="top-bar">
    <a href="/" class="btn-voltar">Voltar</a>
    <div class="header--top">
        <div class="logo">
          <img src="/static/img/Logo.jpg" alt="Logo Aura Floral">
        </div>
        <nav>
         <button><a href="#">Login</a></button> 
          <ul>
            <li><a href="/categoria/<filtro>" class="menu__header-opcoes btn-header">Buquês</a></li>
            <li><a href="/categoria/<filtro>" class="menu__header-opcoes btn-header">Cestas de Presente</a></li>
            <li><a href="/categoria/<filtro>" class="menu__header-opcoes btn-header">Arranjos</a></li>
            <li><a href="/categoria/todos" class="menu__header-opcoes btn-header">Categorias</a></li>
          </ul>
          <div class="perfil">
           <span class="material-symbols-outlined">
              person
          </span>
          </div>
        </nav>
      </div>
</header>

    <div class="container">
        <div class="produto-compras">
            <figure>
                <img class="img_compras" src="/static/img/flor01.jpg" alt="img flor">
            </figure>
        </div>
        <div class="info">
            <p><strong>Girassol</strong></p>
            <p>Preço</p>
            <p>Quantidade:000</p>
        </div>
    
    <div class="buttons">
        <button class="carrinho">Comprar</button>
        <button class="cancelar">Cancelar Compra</button>
    </div>
</div>

<footer class="footer__creditos">
    <p>&copy; 2025 Aura Floral.</p>
  </footer>

<script src="/js/script.js"></script>
</body>
</html>
