<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/var.css">
</head>
<body>
    <div class="container">
        <div class="produto-compras">
            <figure>
                <img class="img_compras" src="/img/flor01.jpg" alt="img flor">
            </figure>
        </div>
        <div class="info">
            <p><strong>Girassol</strong></p>
            <p>Preço</p>
            <p>Quantidade:000</p>
        </div>
    
    <div class="buttons">
        <button>Carrinho</button>
        <button>Cancelar Compra</button>
    </div>
</div>
<footer>
    <p>&copy; 2025 Aura Floral.</p>
  </footer>
<script src="/js/script.js"></script>
</body>
</html>