<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/var.css">
    <link rel="stylesheet" href="/static/styles/reset.css">
    <link rel="stylesheet" href="/static/styles/global-inicial.css">
    
    <title>Aura Floral</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=shopping_cart" />

</head>
<body>
    <header>
        <div class="header--top">

          {% if session.nome %}
          <div class="login__header"><a href="/logoff">Logoff</a></div>
          <div class="nome__header"><a href="">{{session.nome}}</a></div>
          {% else %}
          <div class="login__header"><a href="/pagina/cadastro">Cadastro/Login</a></div>
          <div class="nome__header"><a href="">ANONIMO</a></div>
          {% endif %}
          <nav>
            <ul>
              {% for categoria in categorias %}
              <li><a href="/categoria/{{categoria.id_categoria}}" class="menu__header-opcoes btn-header">{{categoria.categoria}}</a></li>
              {% endfor %}
              <li><a href="/categoria/todos" class="menu__header-opcoes btn-header">Categorias</a></li>
            </ul>
            <div class="perfil">
              <a href="/logoff"><span class="material-symbols-outlined">account_circle</span></a>
              
            </div>
          </nav>
        </div>
    </header>

    <section class="banner">
        <img src="/static/img/Banner.jpg" alt="Coleção Buquês de Rosas Nacionais">
    </section>


      <section class="produtos-inicial">
        <div class="produto-inicial">
          {% for produto in lista_produtos_html %}
          <img src="{{ produto.foto_principal }}" alt="{{ produto.nome }}">
          <h3>{{ produto.nome }}</h3>
          <p>{{ produto.descricao }}</p>
          <p>Preço: R$ {{ produto.preco }}</p>
          <p>Categoria: {{ produto.categoria }}</p>

          <a href="/detalhes"><button class="comprar-btn"><span class="material-symbols-outlined">
shopping_cart
</span></button></a>

        {% endfor %}
        </div>


      <footer class="footer__creditos">
        <p>&copy; 2025 Aura Floral.</p>
      </footer>

</body>
</html>