<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/var.css">
</head>
<body>
    <header>
      <div class="logo">
        <img src="/img/Logo.jpg" alt="Logo Aura Floral">
      </div>
        <div class="header--top">
          <nav>
           <button><a href="#">Login</a></button> 
            <button><a href="#">Cadastrar</a></button>
            <ul>
              <li><a href="#" class="btn-header">Catálogo</a></li>
            <li><a href="#" class="btn-header">Arranjos</a></li>
            <li><a href="#" class="btn-header">Buquês</a></li>
            <li><a href="#" class="btn-header">Arranjos</a></li>
            <li><a href="#" class="btn-header">Cestas de Presente</a></li>
            <li><a href="#" class="btn-header">Inicio</a></li>

            </ul>
          </nav>
        </div>
    </header>

  <footer>
    <p>&copy; 2025 Aura Floral.</p>
  </footer>
<script src="/js/script.js"></script>
</body>
</html>