<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/var.css">
    <title>Filtro cesta de presente</title>
</head>
<body>
    <header>
        <div class="header--top">
          <div class="logo">
            <img src="/img/Logo.jpg" alt="Logo Aura Floral">
          </div>
          <nav>
           <button><a href="#">Login</a></button> 
            <ul>
              <li><a href="#" class="btn-header">Catálogo</a></li>
            <li><a href="#" class="btn-header">Arranjos</a></li>
            <li><a href="#" class="btn-header">Buquês</a></li>
            <li><a href="#" class="btn-header">Arranjos</a></li>
            <li><a href="#" class="btn-header">Cestas de Presente</a></li>
            <li><a href="#" class="btn-header">Inicio</a></li>
            </ul>
            <div class="perfil">
              <img src="/img/iconProfileInicial.jpg" alt="Perfil">
            </div>
          </nav>
        </div>
    </header>
    <section class="banner">
        <img src="/img/Banner.jpg" alt="Coleção Buquês de Rosas Nacionais">
      </section>
      <section class="produtos-inicial">
        <div class="produto-inicial">
            <img src="/img/cesta-com-vinho.jpg" alt="Cesta com 15 Rosas Vermelhas">
            <p>Cesta com 15 Rosas Vermelhas, Chocolate e Vinho Tinto</p>
            <button class="comprar-btn">🛒</button>
        </div>
        <div class="produto-inicial">
            <img src="/img/cesta-de-cerveja.jpg" alt="Cesta de Cervejas - Variadas">
            <p>Cesta de Cervejas - Variadas</p>
            <button class="comprar-btn" >🛒</button>
          </div>
          
          <div class="produto-inicial">
            <img src="/img/Cesta-de-Queijos.jpg" alt="Cesta Grande de Queijos, Fruta, Pães e Vinho Tinto">
            <p>Cesta Grande de Queijos, Fruta, Pães e Vinho Tinto</p>
            <button class="comprar-btn" >🛒</button>
          </div>
      </section>
</body>
</html>