<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/var.css">
    <title>Tela Filtro de Arranjos</title>
</head>
<body>
    <header>
        <div class="header--top">
          <div class="logo">
            <img src="/img/Logo.jpg" alt="Logo Aura Floral">
          </div>
          <nav>
           <button><a href="#">Login</a></button> 
            <ul>
              <li><a href="#" class="btn-header">Catálogo</a></li>
            <li><a href="#" class="btn-header">Arranjos</a></li>
            <li><a href="#" class="btn-header">Buquês</a></li>
            <li><a href="#" class="btn-header">Arranjos</a></li>
            <li><a href="#" class="btn-header">Cestas de Presente</a></li>
            <li><a href="#" class="btn-header">Inicio</a></li>
            </ul>
            <div class="perfil">
              <img src="/img/iconProfileInicial.jpg" alt="Perfil">
            </div>
          </nav>
        </div>
    </header>
    <section class="banner">
        <img src="/img/Banner.jpg" alt="Coleção Buquês de Rosas Nacionais">
      </section>
      <section class="produtos-inicial">
        <div class="produto-inicial">
            <img src="/img/Arranjos-Cravos.jpg" alt="Arranjos-Cravos">
            <p>Arranjo de Cravos, Rosas e Astromélias.</p>
            <button class="comprar-btn">🛒</button>
        </div>
        <div class="produto-inicial">
            <img src="/img/Arranjo-Girassol.jpg" alt="Arranjo-Girassol">
            <p>Girassóis em Vaso e Pelúcia</p>
            <button class="comprar-btn" >🛒</button>
          </div>
          
          <div class="produto-inicial">
            <img src="/img/Arranjo-Flores-de-campo.jpg" alt="Arranjo-Flores-de-campo">
            <p>CArranjo de Flores do Campo Rosadas e Conjunto Natura Mamãe e Bebê</p>
            <button class="comprar-btn" >🛒</button>
          </div>
      </section>
</body>
</html>