<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/var.css">
    <!-- Link do material icons -->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=person" />
    <title>Tela Filtro de Arranjos</title>
</head>
<body>
    <header>
        <div class="header--top">
          <div class="logo">
            <img src="/img/Logo.jpg" alt="Logo Aura Floral">
          </div>
          <nav>
           <button><a href="#">Login</a></button> 
            <ul>
              <li><a href="#" class="btn-header">Catálogo</a></li>
            <li><a href="#" class="btn-header">Arranjos</a></li>
            <li><a href="#" class="btn-header">Buquês</a></li>
            <li><a href="#" class="btn-header">Arranjos</a></li>
            <li><a href="#" class="btn-header">Cestas de Presente</a></li>
            <li><a href="#" class="btn-header">Inicio</a></li>
            </ul>
            <div class="perfil">
              <span class="material-symbols-outlined">
                person
              </span>
            
            </div>
          </nav>
        </div>
    </header>
    <section class="banner">
        <img src="/img/Banner.jpg" alt="Coleção Buquês de Rosas Nacionais">
      </section>
      <section class="produtos-inicial">
        <div class="produto-inicial">
            <img src="/img/Buque-de-rosas.jpg" alt="Buquê com 24 Rosas de Três Cores">
            <p>Buquê com 24 Rosas de Três Cores.</p>
            <button class="comprar-btn">🛒</button>
        </div>
        <div class="produto-inicial">
            <img src="/img/Buque-de-flores-campos.jpg" alt="Buquê de Flores do Campo em Tons Rosados">
            <p>Buquê de Flores do Campo em Tons Rosados</p>
            <button class="comprar-btn" >🛒</button>
          </div>
          
          <div class="produto-inicial">
            <img src="/img/Buquê-de-Astromélias-e-Gérberas.jpg" alt="Buquê de Astromélias e Gérberas">
            <p>Buquê de Astromélias e Gérberas</p>
            <button class="comprar-btn" >🛒</button>
          </div>
      </section>
</body>
</html>