<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/var.css">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/global.css">
  <title>Inicial</title>
</head>

<body>

  <header>
    <div class="container__header">

      <!-- LOGIN E LOGOFF IF COM JINJA -->
      {% if session.nome %}
      <div class="login__header"><a href="/logoff">Logoff</a></div>
      <div class="nome__header"><a href="">{{session.nome}}</a></div>
      {% else %}
      <div class="login__header"><a href="/login">Login</a></div>
      <div class="nome__header"><a href="">ANONIMO</a></div>
      {% endif %}

      <nav>
        <ul class="menu__header">
          <li><a href="/" class="menu__header-opcoes">Início</a></li>
          <li><a href="/buques" class="menu__header-opcoes">Buquês</a></li>
          <li><a href="/cestas" class="menu__header-opcoes">Cestas de Presente</a></li>
          <li><a href="/arranjos" class="menu__header-opcoes">Arranjos</a></li>
          <li><a href="#" class="menu__header-opcoes">Todos</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <main>

    <section class="banner__promocoes">
      <img src="/img/flor01.jpg" class="img_banner" alt="Banner">
    </section>

  <section class="produtos">

    <article class="venda__produtos">
        <div class="imagem__produtos">
          <img src="/img/flor01.jpg" class="img_produto" alt="Flor....">
        </div>

        <div class="descricao__produtos">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
        </div>

         <button>Ver mais...</button> <!-- add a rota p esse bnt enviar  -->

    </article>

    <article class="venda__produtos">
      <div class="imagem__produtos">
        <img src="/img/flor01.jpg" class="img_produto" alt="Flor....">
      </div>

      <div class="descricao__produtos">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
      </div>

       <button>Ver mais...</button> <!-- add a rota p esse bnt enviar  -->

  </article>

  <article class="venda__produtos">
    <div class="imagem__produtos">
      <img src="/img/flor01.jpg" class="img_produto" alt="Flor....">
    </div>

    <div class="descricao__produtos">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
    </div>

     <button>Ver mais...</button> <!-- add a rota p esse bnt enviar  -->

  </article>

  </section>

  </main>

  <footer class="footer__creditos">
    <p>&copy; 2025 Aura Floral.</p>
  </footer>

  <script src="/js/script.js"></script>
</body>
</html>