<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/var.css">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/global.css">
  <title>Inicial</title>
</head>

<body>

  <header>
    <div class="container__header">
      <figure>
        <img src="/img/logoAuraFloralInicio.svg" alt="Logo da Aura Floral">
      </figure>

      <button class="btn-header__login">Login</button>
      <button class="btn-header__cadastro">Cadastro</button>

      <nav aria-label="Menu principal">
        <ul>
          <li><a href="#" class="header__menu header__menu-inicio">Início</a></li>
          <li><a href="#" class="header__menu header__menu-buques">Buquês</a></li>
          <li><a href="#" class="header__menu header__menu-cestasPresente">Cestas de Presente</a></li>
          <li><a href="#" class="header__menu header__menu-arranjos">Arranjos</a></li>
          <li><a href="#" class="header__menu header__menu-todos">Todos</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main>
    <section class="banner__promocoes">
      <img src="/img/flor01.jpg" alt="Novidade e Promoção">
    </section>

    <section class="produtos">
      <article class="produto__venda">
        <div class="produto__imagem">
          <img src="/img/flor01.jpg" alt="Flor de rosa em promoção">
        </div>
        <div class="produto__descricao">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
        </div>
        <button>Ver mais...</button>
      </article>

      <article class="produto__venda">
        <div class="produto__imagem">
          <img src="/img/flor01.jpg" alt="Flor de rosa em promoção">
        </div>
        <div class="produto__descricao">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
        </div>
        <button>Ver mais...</button>
      </article>

      <article class="produto__venda">
        <div class="produto__imagem">
          <img src="/img/flor01.jpg" alt="Flor de rosa em promoção">
        </div>
        <div class="produto__descricao">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quos, maiores dolores velit temporibus.</p>
        </div>
        <button>Ver mais...</button>
      </article>
    </section>
  </main>

  <footer class="footer__creditos">
    <p>&copy; 2025 Aura Floral.</p>
  </footer>

  <script src="/js/script.js"></script>
</body>
</html>