<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/var.css">
  <link rel="stylesheet" href="/styles/global.css">
  <!-- ICONES GOOGLE -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=shopping_cart" />
  <title>Inicial</title>
</head>

<body>
  <header>
    <div class="header--top">
      <div class="logo">
        <img src="/img/Logo.jpg" alt="Logo Aura Floral">
      </div>
      <nav>
        <button><a href="#">Login</a></button>
        <ul>
          <li><a href="#" class="btn-header">Catálogo</a></li>
          <li><a href="#" class="btn-header">Arranjos</a></li>
          <li><a href="#" class="btn-header">Buquês</a></li>
          <li><a href="#" class="btn-header">Arranjos</a></li>
          <li><a href="#" class="btn-header">Cestas de Presente</a></li>
          <li><a href="#" class="btn-header">Inicio</a></li>
        </ul>
        <div class="perfil">
          <img src="/img/iconProfileInicial.jpg" alt="Perfil">
        </div>
      </nav>
    </div>
  </header>

  <section>
    {% for produto in lista_produtos_html %}
    <article class="produto__venda">
      <div class="produto__imagem">
        <!-- url da imagem -->
        <!-- NECESSARIO FAZER INNER JOIN ENTRE DOIS SELECT PRA PEGAR AS FOTOS NO CONTROLER -->
        <img src="{{ produto.foto_principal }}" alt="Buque de {{ produto.nome }}">
      </div>

      <div class="produto__descricao">
        <h3>{{ produto.nome }}</h3> <!-- Nome do produto -->
        <p>{{ produto.descricao }}</p> <!-- Descrição do produto -->
        <p>Preço: R$ {{ produto.preco }}</p> <!-- Preço do produto -->
        <p>Categoria: {{ produto.categoria }}</p> <!-- Categoria do produto -->
      </div>

      <button><a href="/detalhes">Ver mais <span class="material-symbols-outlined">
            shopping_cart </span></a></button> <!-- Add rota p/ detalhes -->
    </article>

    {% endfor %}
  </section>


</body>

</html>