<!DOCTYPE html>
<html lang="pt-br">

<head>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/var.css">
    <link rel="stylesheet" href="/styles/global.css">
    
  <meta charset="UTF-8">
  <title>Formulário de Cadastro -  Flores</title>
</head>


<header class="menu">

</header>

<body class="corpo-principal">

  <main class="main-cadastro">
    <section class="engloba-form">
      <form action="#" method="post" class="fomulario-cadastro">
        <fieldset>

          <legend>Login</legend>

          <div>
            <label for="usuario">Usuario</label><br>
            <input type="text" id="usuario" name="usuario">
          </div>

          <div>
            <label for="senha">Senha</label><br>
            <input type="password" id="senha" name="senha">
          </div>

          <div>
            <button type="submit">Fazer Login</button>
          </div>

        </fieldset>
      </form>
    </section>
  </main>

</body>
</html>