/* :root {
  --cor-primaria: #402647;
  --cor-secundaria: #7a5a82;
  --cor-destaque-modo-escuro: #f5d0e3;
  --cor-fundo-modo-escuro: #5e3f66;
  --cor-escura-modo-escuro: #2d1235;
  --cinza-claro-modo-escuro: lightgray;
} */

:root {
  /* Cores */
  --cor-primaria: #402647;
  --cor-secundaria: #7a5a82;
  --cor-destaque: #f5d0e3;
  --cor-fundo: #5e3f66;
  --cor-escura: #2d1235;
  --cinza-claro: lightgray;
  --azul-cinza-escuro: #2C1435;
  --ameixa-escura: #4B2C4F;
  --roxo-suave: #6C4A6E;
  --rosa-empoeirado: #BD909B;
  --rosa-claro: #F6C1C1;
}